packages:
  yum:
    git: []

commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'yum install -y nodejs npm --enablerepo=epel'
    02_node_update:
        cwd: /tmp
        test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
        # https://stackoverflow.com/questions/45884752/npm-err-code-unable-to-get-issuer-cert-locally
        command: 'npm config set registry http://registry.npmjs.org/ && npm install -g n && n stable'
    03_npm_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/gulp ] && echo "gulp not installed"'
        command: 'npm install gulp -g'

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_npm_install:
    test: '[ ! -f gulp ] && echo "gulp not installed"'
    command: 'npm install gulp gulp-cli node-sass gulp-sass'
  03_gulp:
    command: "gulp sass"
  04_collectstatic:
    command: "python manage.py collectstatic --noinput -c"
  05_add_cron_jobs:
    command: "python manage.py crontab remove && python manage.py crontab add"
    leader_only: true
  06_command:
    command: bash .ebextensions/setup.sh

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: preside/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: preside.settings
    IS_AWS: true

files:
  # WSGIPassAuthorization is off by default
  "/etc/httpd/conf.d/wsgi_extra.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization On
      <Directory /opt/python/current/app/>
        RewriteEngine On
        RewriteCond %{HTTP:X-Forwarded-Proto} !https
        RewriteRule ^/?(.*) https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
      </Directory>

      <FilesMatch "\.(ico|svg|json|jpg|jpeg|png|gif|js|css|woff)$">
        Header set Cache-Control "public, max-age=31536000"
      </FilesMatch>

      LoadModule deflate_module modules/mod_deflate.so

      SetOutputFilter DEFLATE

      # mod_deflate configuration
      <IfModule mod_deflate.c>
          # Restrict compression to these MIME types
          AddOutputFilterByType DEFLATE text/plain
          AddOutputFilterByType DEFLATE text/html
          AddOutputFilterByType DEFLATE application/xhtml+xml
          AddOutputFilterByType DEFLATE text/xml
          AddOutputFilterByType DEFLATE application/xml
          AddOutputFilterByType DEFLATE application/xml+rss
          AddOutputFilterByType DEFLATE application/x-javascript
          AddOutputFilterByType DEFLATE text/javascript
          AddOutputFilterByType DEFLATE text/css
          <IfModule mod_headers.c>
              # Make sure proxies don't deliver the wrong content
              Header append Vary User-Agent env=!dont-vary
          </IfModule>
      </IfModule>