packages:
  yum:
    git: []

commands:
    01_sass_install:
        test: '[ ! -f /root/dart-sass/sass ] && echo "sass not installed"'
        command: 'wget https://github.com/sass/dart-sass/releases/download/1.15.2/dart-sass-1.15.2-linux-x64.tar.gz -P /root/ && tar xzf /root/dart-sass-1.15.2-linux-x64.tar.gz -C /root/ && rm -rf /root/dart-sass-1.15.2-linux-x64.tar.gz'

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_sass:
    command: "find . -name '*.scss' -exec bash -c '/root/dart-sass/sass \"$1\" \"${1//scss/css}\"' bash {} \\;"
  03_collectstatic:
    command: "python manage.py collectstatic --noinput -c"
  05-command:
    command: bash .ebextensions/setup.sh

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: preside/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: preside.settings
    IS_AWS: true

files:
  # WSGIPassAuthorization is off by default
  "/etc/httpd/conf.d/wsgi_extra.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization On
      <Directory /opt/python/current/app/>
        RewriteEngine on
        RewriteCond %{HTTP:X-Forwarded-Proto} ^http$
        RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
      </Directory>

      <FilesMatch "\.(ico|svg|json|jpg|jpeg|png|gif|js|css|woff)$">
        Header set Cache-Control "public, max-age=31536000"
      </FilesMatch>

      LoadModule deflate_module modules/mod_deflate.so

      SetOutputFilter DEFLATE

      # mod_deflate configuration
      <IfModule mod_deflate.c>
          # Restrict compression to these MIME types
          AddOutputFilterByType DEFLATE text/plain
          AddOutputFilterByType DEFLATE text/html
          AddOutputFilterByType DEFLATE application/xhtml+xml
          AddOutputFilterByType DEFLATE text/xml
          AddOutputFilterByType DEFLATE application/xml
          AddOutputFilterByType DEFLATE application/xml+rss
          AddOutputFilterByType DEFLATE application/x-javascript
          AddOutputFilterByType DEFLATE text/javascript
          AddOutputFilterByType DEFLATE text/css
          <IfModule mod_headers.c>
              # Make sure proxies don't deliver the wrong content
              Header append Vary User-Agent env=!dont-vary
          </IfModule>
      </IfModule>