{% extends "base.html" %}

{% block content %}
<a class="btn btn-primary" href="{% url 'persons_add' %}">Add Person</a>

<div class="card-container mt-5">
    {% for person in persons %}
        <div class="card person-card" >
            <div class="card-body">
                <div class="student-card-header">
                    <img class="person-image" src={{person.photo_url}} alt="">
                    <div class="name d-flex align-items-center">
                        <div class="status-dot {{ person.status }} mr-2"></div>
                        {{person.get_full_name}}
                    </div>
                </div>
                other info here
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}